/* body {
  padding-bottom: 18vw;
} */

header {
  background-color: #1f2f46;
    padding: 0.5vw 0;
  }

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

header p {
    padding: 0 2vw;
    margin: 0;
    font-size: calc(1rem + 0.8vw);
}

.jumbotron {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #1f2f46;
    height: calc(35rem + 10vw);
    margin-bottom: 0;
}

.jumbotron > * > * > h2 {
  position: absolute;
  bottom: 19vw;
}

.jumbotron > * > * > h3 {
  position: absolute;
  bottom: 16vw;
}

.port-nav{
  padding-left: 0;
  padding-right: 0;
}

h1 {
  color: #1f2f46;
}

h2, h3, header p{
  color: #f08560;
  font-family: "helveticaneue","heebo";
  font-weight: 1000;
}

h2 {
  font-size: 9vw;
}

h3 {
  font-size: calc(1rem + 3vh);
}

h5 {
  font-size:1vw;
  font-family: "helveticaneue","heebo";
  font-weight: 1000;
  color:#727272;
}

.carousel-caption{
  font-size: calc(1rem + 1vw);
  font-family: "helveticaneue","heebo";
  background-color: rgba(255, 255, 255, .8);;
  color: #1f2f46;
  text-shadow: none;
  width:100%;
  left: 0;
}

a {
  color: #f08560;
}

a:hover {
  color: #f08560;
  text-decoration: none;
  border-bottom: 3px solid #f08560;
  transition: border-length 0.6s linear;
}

.skill-list{
  position: absolute;
  height: 9vw;
  width: 27vw;
  right: 0;
  bottom: 14vw;
}

.skill-list > .container-fluid > h4 {
  color: #162336;
  font-family: "helveticaneue","heebo";
  font-weight: 800;
  font-size: 3vw;
  margin-bottom: 1vw;
  text-align: right;
}

.text-shadow {
  text-shadow:
  -1px -1px 2px #1f2f46,  
   1px -1px 2px #1f2f46,
   -1px 1px 2px #1f2f46,
    1px 1px 2px #1f2f46;
}

/* ---------------------------------Contact page----------------------------- */

.contact {
  background-color: #1f2f46;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

#contact-form{
  display: flex;
  flex-wrap: wrap;
  padding: 1.5vw;
  background-color: #fff;
  font-family: "helveticaneue","heebo";
  margin-right: 3vw;
}

#contact-form > * > * {
  margin: 1%;
}

.btn-primary {
  background-color: #f08560;
  border: none;
}

.btn-primary:hover {
  background-color: #1f2f46;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.this-page {
  text-decoration: none;
  border-bottom: 3px solid #f08560;
}

/* ------------------------Port Pages---------------------------- */

#testconfetti {
  width: 100%;
  position: absolute;
  opacity: 0.5;
  top: -20%;
}

.layer {
  z-index: 2;
}

#port-page-head {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: #1f2f46; */
    height: calc(45rem + 10vw);
    margin-bottom: 0;
    /* background-size: clip; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#port-page-title {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: 5rem;
}

#port-page-title h1 {
  font-family: "helveticaneue","heebo";
  font-weight: 1000;
}

.port-page-content{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: 3rem 5rem;
}

#port-page-links {
  margin-bottom: 3rem;
  padding: 0 2rem;
}


/* ------------------------Footer---------------------------- */

.footer {
  position: relative;
  width: 100%;
  height: 18vh;
  bottom:0;
  background-color: #1a2636;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin-bottom: 0;
  font-size: 0.9vw;
  color:#727272;
}

.footer > .container > .row {
  display: inline-block;
}

.footer-icon {
  width: 2vw;
}

@media (max-width: 600px){
  .footer {
    height: 19vh;
    text-align: center;
    padding: 0 2.5rem;
  }

  .footer h5 {
    font-size: 3vw;
  }

  .footer p {
    font-size: 2.5vw;
  }

  .footer-icon {
    width: 5vw;
  }

  .jumbotron > * > * > h2 {
    position: unset;
    bottom: unset;
    text-align: center;
  }
  
  .jumbotron > * > * > h3 {
    position: unset;
    bottom: unset;
    text-align: center;
  }
}





.footer-link :hover {
  border-bottom: none !important;
}