body {
	/* background: linear-gradient(-45deg, #FFA90A, #FFC65C, #f8a88e, #F35353); */
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.test-line{
  background: linear-gradient(-45deg, #FFA90A, #FFC65C, #f8a88e, #F35353);
	background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  position: absolute;
  width: 100%;
  height: 1.5vh;
  border-top: solid 3px #333;
}

header nav {
    display: flex;
    flex: auto;
    justify-content: flex-end;  
    align-items: center; 
    height: 10vh; 
}

header p {
    padding: 0 2vw;
    margin: 0;
    /* font-size: calc(1rem + 0.8vw); */
    font-size: calc(1rem + .5vw);
    font-family: "heebo";
}

header a {
    color: #333;
}

header a:hover {
    color: #F35353;
    text-decoration: none;
}

.cool-link {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F35353;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}

.this-page{
    color: #F35353;
    border-bottom: solid 2px #F35353;
}


.banner {
    padding: 3vh 0;
    height: 55vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

h1 {
    font-family: "heebo";
    font-weight: bold;
    font-size: calc(3rem + 2vw);
}

h2 {
    font-family: "heebo";
    font-weight: bold;
    font-size: calc(1.2rem + 1vw);
}

h3 {
  font-family: "heebo";
  font-weight: bold;
  font-size: calc(.8rem + .5vw);
  color: #333;
}

h4 {
  font-family: "heebo";
  font-weight: bold;
  font-size: calc(1rem + .2vw);
  color: grey;
}

p {
    font-family: "heebo";
    font-size: calc(1rem + .5vw);
}
/* -------------------------------------------------------- */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/* --------------------------------------- */

.offset-down{
    margin-top: 15vh;
}

.project-pic {
    border: 5px solid white;
}

.project-pic:hover {
  transform: scale(1.02);
  transition: 0.4s;
}

figcaption {
    background-color: #fff;
    color: #333;
    position: absolute;
    width: 35vw;
    display: flex;
    align-items: center;
    height: 10vh;
    font-family: "heebo";
    font-size: 1.8vw;
}

.caption-right {
    top: 2vh;
    left: 30%;
    padding-left: 10%;
}

.caption-left {
    bottom: 2vh;
    left: -10%;
    justify-content: flex-end;
    padding-right: 10%;
}

/* ---------------------------------Contact page----------------------------- */

.contact {
  /* background-color: #161413; */
  min-height: 75vh;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

#contact-form{
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
  background-color: #fff;
  font-family: "heebo";
  /* margin-right: 3vw; */
  border-radius: 10px;
}

#contact-form > * > * {
  margin: 1%;
}

.avatar{
  padding:3%;
}

.contact-white-bg{
  background-color: #fff;
  padding: 1%;
  border-radius: 15px;
  margin: 0 7%;
  height: unset;
}

.btn-primary {
  background-color: #F35353;
  border: none;
  font-size: calc(1em+1vw);
}

.btn-primary:hover {
  background-color: #F35353;
}

#contact-form > * > textarea {
  height:100%;
}

/* ------------------------Port pages--------------------- */

#port-page-head {
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: #1D1A05; */
  height: calc(45rem + 10vw);
  margin-bottom: 0;
  /* background-size: clip; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#port-page-title > * > * > * > h1 {
  font-size: 4vw;
  margin-top: 4%;
}

#port-page-title > * > * > * > p {
  font-size: 0.9vw;
  margin: 2% 0 0 0;
  border-left: solid 6px grey;
  padding: 1%;
  background-color: lightgrey;
}

a {
  color: #333;
}

a:hover {
  color: #F35353;
  text-decoration: none;
  cursor: pointer;
}

.port-page-content{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  padding: 3rem 5rem;
}

.port-page-content > * > * > * > p {
  font-size: 1vw;
}

.port-page-content > * > * > * > h3 {
  font-size: 2vw;
  font-family: heebo;
}

.port-page-content > * > .row {
  margin-top: 3%;
}

.port-page-content > * > * > * > .caption-left {
  /* top: 80%; */
  bottom: 8vh;
  width: 50%;
  z-index: 2;
  background-color: #FFC65C;
}

#port-page-links {
  /* margin-bottom: 3rem; */
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#port-page-links h3 {
  font-family: "heebo";
  font-size: calc(1rem + 2vw);
}

#port-page-links a {
  color: #333;
}

#port-page-links a:hover {
  color: #F35353;
  text-decoration: none;
}

.white-bg{
  background-color: #fff !important;
}


/* ------------------------Footer---------------------------- */

.footer {
    position: relative;
    width: 100%;
    height: 18vh;
    bottom: 0;
    background-color: #0B0A09;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
  }

h5 {
    font-family: "heebo";
    font-size: 1.25vw;
    color: #727272;
}
  
.footer p {
  margin-bottom: 0;
  font-size: 1vw;
  color:#727272;
}
  
.footer > .container > .row {
  display: inline-block;
}
  
.footer-icon {
  width: 5vh;
  margin-right: 3%;
  margin-top: 1%;
}

/* ------------------------- Media query for mobile sizes */
@media (max-width: 600px){

  /* Main page stuff */

  h1 {
    font-size: 14vw;
  }

  h2 {
    font-size: 7vw;
  }
    
  p {
    font-size:unset;
  }

  .banner {
    height: 35vh;
  }

  .offset-down {
    margin-top: unset;
  }

  .project-pic {
    margin-top: 2vh;
    display:inline-block;
  }

  /* Contact stuff */

  .contact-white-bg{
    height: 82vh;
  }

  #contact-form > * > textarea {
  height:50%;
}

  /* Footer stuff */

  .footer {
    height: auto;
    text-align: center;
    padding: 2rem;
  }
  
  .footer h5 {
    font-size: 3vw;
  }
  
  .footer p {
    font-size: 2.5vw;
  }
  
  .footer-icon {
    width: 5vw;
    margin-left:3%;
  }

}

/* ------------------------- Media query for laptop sizes */
@media (max-width: 1400px){

  #port-page-title > * > * > * > p {
    font-size: 1.2vw;
    /* padding-top: 4%; */
  }

  .port-page-content > * > * > * > p {
    font-size: 1.2vw;
  }

}