header {
  background-color: #1f2f46;
    padding: 20px 0;
  }

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
    font-size: 1.3vw;
}

.jumbotron {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #1f2f46;
    height: 500px;
}

h1 {
  color: #1f2f46;
}

h2, h3, header p{
  color: #f08560;
  font-family: helveticaneue;
  font-weight: 1000;
}

h2 {
  font-size: 9vw;
}

a {
  color: #f08560;
}

a:hover {
  color: #f08560;
  text-decoration: none;
  border-bottom: 3px solid #f08560;
}

.skill-list{
  position: absolute;
  height: 9vw;
  width: 22vw;
  right: 1vw;
  bottom: 18vw;
}

.skill-list > h4 {
  color: #1a2636;
  font-family: helveticaneue;
  font-weight: 800;
  font-size: 2.5vw;
  margin-bottom:1vw;
}

/* Contact page */

#contact-form{
  display: flex;
  flex-wrap: wrap;
  padding: 1.5vw;
  background-color: #fff;
  font-family: helveticaneue;
}

#contact-form > * > * {
  margin: 1%;
}
